---
# front matter
---

// add color at page top
$top-border: #4f46e5;

// Tweak body text and link color
$text-color: #1e293b !default;
$link-color: #4f46e5 !default;
$base-font-size: 1.05rem;

// page narrow size
$container-narrow: 750px;
// limit base container size to make reading easier
//$container-max: 750px;

// Import partials.
@import
  "template", "custom"
;
